/* $dark-blue: #141F35;
$red: #C7262C;
$yellow: #FAB328;
$light-gray: #F6F6F7;
$medium-gray: #DFE0E3; */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* background: #141F35; */
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    color: #141F35;
}

@media (min-width: 768px) {
    h1 {
        font-size: 3.8em;
    }

    h2 {
        font-size: 3rem;
    }
}

.red-font {
    color: #C7262C;
}

.white-font {
    color: white;
}

p#hero-subheadline {
    max-width: 580px;
}

a {
    color: #141F35;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    margin: 20px 0 20px;
    line-height: 1.1;
}

p, button, a {
    font-family: 'Poppins', sans-serif;
    margin: 20px 0 20px;
}

li, input {
    font-family: 'Poppins', sans-serif;
}

ol {
    padding-left: 15px;
}

button {
    padding: 10px 0px;
    font-weight: 700;
    font-size: 18px;
    transition: 100ms ease-in-out;
}

input[type="submit"] {
    padding: 10px 25px;
    font-weight: 700;
    font-size: 18px;
    transition: 100ms ease-in-out;
    cursor: pointer;
    margin-top: 20px;
}

/* input.text-area {
    min-height: 150px;
} */

button:hover, input[type="submit"]:hover, .recent-project-image:hover {
    transform: scale(1.1);
}

button a {
    padding: 10px 25px;
}

button.button-yellow, input[type="submit"] {
    background: #FAB328;
    border-width: 0px;
    margin-right: 15px;
}

button.button-yellow a {
    border: 4px solid #FAB328;
}

button.button-outline {
    background: transparent;
    border-width: 0px;
    padding: 6px 0px;
}

button.button-outline a {
    border: 4px solid;
}

.container {
    padding: 20px;
    position: relative;
}

#hero {
    background: white;
}

#hero header .row {
    padding: 100px 0 50px;
}

#hero-image, #back-story-image, #contact-image {
    width: 110%;
}

.mouse-over-scale {
    animation: mouseoverscale 500ms ease-in-out infinite alternate;
}

@keyframes mouseoverscale {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#back-story-image {
    /* transform: translateX(-50px); */
    margin-left: -50px;
    margin-top: 40px;
}

.logo {
    max-width: 250px;
}

.inner-wrap {
    max-width: 1200px;
    width: 97%;
    margin: auto;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
}

nav .logo {
    margin-right: auto;
}

.menu-item {
    margin: 0 15px;
    font-weight: 500;
}

#mobile-menu-toggle, #mobile-menu-close {
    margin: 0;
    font-size: 26px;
}

a#mobile-menu-close {
    position: absolute;
    right: 10%;
}

#mobile-menu .logo {
    margin-top: 6px;
    margin-bottom: 20px;
}

.mobile-menu-item {
    padding: 0px;
    display: block;
}

@media (min-width: 901px) {
    #mobile-menu-toggle {
        display: none;
    }
}

a.menu-item.desktop-menu-item:after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background: #141F35;
    position: relative;
    transition: 100ms ease-in-out;
    margin: auto;
}

a.menu-item.desktop-menu-item:hover:after {
    content: '';
    display: block;
    width: 100%;
    background: #141F35;
    position: relative;
}

.flex, .menu.flex {
    display: flex;
    flex-direction: row;
}

.flex-align-flex-end {
    align-items: flex-end;
}

.flex-align-center {
    align-items: center;
}

.column.column-two-thirds {
    width: 66%;
}

.column.column-one-third {
    width: 33%;
}

#back-story {
    background: #F6F6F7;
    padding: 80px 20px 140px;
}

div#back-story-content {
    max-width: 650px;
    margin-left: auto;
}

#personal-life {
    background: #141F35;
    padding: 80px 20px 100px;
}

div#personal-life-content {
    max-width: 600px;
    margin-top: 40px;
}

img#taylor-top-three {
    position: absolute;
    top: -263px;
    right: 47px;
    max-width: 350px;
}

#recent-projects {
    background: #C7262C url(./media/th-image-background-pattern-squiggly-lines.png);
    background-repeat: repeat;
    background-size: 400px;
    padding: 80px 20px 100px;
}

#contact {
    background: white;
    padding: 80px 20px 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #141F35;
    opacity: 1; /* Firefox */
  }

input, textarea {
    width: 75%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 0;
    font-size: 18px;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    resize: none;
    border: solid;
    border-color: #141F35;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
    border-width: 4px!important;
}

textarea:focus, input:focus{
    outline: none;
}

input[type="submit"] {
    width: fit-content;
}

#footer {
    background: #141F35;
}

.recent-project-image-wrap {
    padding: 22px 50px 50px 0;
}

.recent-project-image {
    width: 100%;
    box-shadow: 5px 5px 22px rgb(0 0 0 / 40%), 22px 22px 0 #dfe0e3;
    transition: 150ms ease-in-out;
    cursor: pointer;
    max-width: 1400px;
}

.text-center {
    text-align: center;
}

#mobile-menu {
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 80%;
    max-width: 300px;
    background: #dfe0e3 url(./media/th-image-background-pattern-squiggly-lines.png);
    padding: 20px;
    transform: translateX(300px);
    transition: all 150ms;
}

#mobile-menu.mobile-menu-open {
    transform: translateX(0px);
    transition: all 500ms ease-in-out;
}

div#mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: rgba(20 31 53 / 0%);
    visibility: hidden;
    /* opacity: 0; */
    /* display: none; */
    transition: all 500ms ease-in-out;
}

@media (max-width: 900px) {
    #hero header .row {
        padding: 30px 0 50px;
    }

    .column.column-one-third, .column.column-two-thirds {
        width: 100%;
    }

    .flex {
        flex-direction: column;
    }

    a.menu-item.desktop-menu-item {
        display: none;
    }

    .logo {
        max-width: 180px;
    }

    #hero-image, #back-story-image, #contact-image {
        width: 100%;
    }

    img#hero-image, #contact-image {
        margin-top: 50px;
    }

    #back-story-image {
        transform: unset;
        margin-top: unset;
        margin: 30px 0 40px;
    }

    div#back-story-content {
        margin-left: unset;
    }

    img#taylor-top-three {
        position: relative;
        margin-top: -250px;
        width: 100%;
        top: unset;
        right: unset;
        max-width: unset;
    }

    #back-story {
        padding: 40px 20px 220px;
    }

    #personal-life {
        padding: 80px 20px 40px;
    }

    #recent-projects {
        padding: 40px 20px 40px;
    }

    #contact {
        padding: 40px 20px 60px;
    }

    input, textarea {
        width: 100%;
    }
}

#back-to-top-button {
    position: fixed;
    bottom: 15%;
    right: 0;
    background-color: #b3242a;
    padding: 15px 0px;
    visibility: hidden;
    transform: translateX(51px);
    transition: all 300ms ease-in-out;
}

#back-to-top-button a {
    padding: 15px 20px;
}

.back-to-top-button-show {
    transition: all 300ms ease-in-out!important;
    transform: translateX(0)!important;
    visibility: visible!important;
}

#back-to-top-button i {
    color: white;
}

#recent-projects-view-more {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: all 600ms ease-in-out;
}

.recent-projects-view-more-show {
    visibility: visible!important;
    height: 100%!important;
    transition: all 300ms ease-in-out!important;
    opacity: 1!important;
}

#project-image-lightbox {
    visibility: hidden;
    background-color: rgba(20 31 53 / 0%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    transition: 450ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-image-lightbox-show {
    visibility: visible!important;
    background-color: rgba(20 31 53 / 88%)!important;
    transition: 450ms ease-in-out;
}

#project-image-lightbox .recent-project-image {
    max-width: 1400px;
    box-shadow: none;
    transform: scale(0);
    transition: all 450ms ease-in-out;
}

.image-scale {
    transform: scale(1)!important;
    transition: all 450ms ease-in-out!important;
    cursor: auto!important;
}

.image-close-button .fa-times {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
}

/* #project-image-lightbox .recent-project-image:hover {
    transform: unset;
} */

.full-image {
    position: fixed;
    z-index: 2000;
    transform: translate(-50%, -50%)!important;
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 0px rgb(0 0 0 / 40%), 0px 0px 0 #dfe0e3;
    transition: all 250ms ease-in-out;
}